<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Sensores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista con todos los sensores de la casa:</h1>
    <br>
    <center>
    <table class="tabla">
    <% var i; for (i=0; i < sensores.length; i++) { %>
    <tr>
      <td align=center><%= sensores[i].sensor %></td>
			<td align=center><%= sensores[i].respuesta %></td>
		</tr>
    <% } %>
    </table>
  </center>
  <br>
  <br>
   <img src="images/riego.jpeg" 
             width="150" 
             height="150"/>
        &nsp; &nsp; &nsp; &nsp;     
  <img src="images/luz.jpeg" 
             width="150" 
             height="150"/>
       &nsp; &nsp; &nsp; &nsp;                              
  <img src="images/gas.jpg" 
             width="150" 
             height="150"/>


               
        &nsp; &nsp; &nsp; &nsp;
              
        <img src="images/camara.jpeg" 
             width="150" 
             height="150"/>

  </body>
</html>
