<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>La aplicación desde la que podrá controlar e intereactuar con toda la domótica de su casa.</p>
    <br>
    
                    
                        <img src="images/cocina.jpg" 
                        width="350" 
                        height="240"/>
                       
                
                    <img src="images/habitacion.jpeg" 
                        width="450" 
                        height="240"/>
            <br>
               
                    <img src="images/salon.jpg" 
                        width="400" 
                        height="240"/>
              
                    <img src="images/jardin.jpg" 
                        width="400" 
                        height="240"/>
        
  </body>
</html>
