<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a ELCOMOD</h1>
    <br>
    <p>La aplicación desde la que podrá controlar e intereactuar con toda la domótica de su casa.</p>
    <br>
    <table border ="1">
            <tr>
                <td align=center>
                    <a href="cocina">Cocina
                        <img src="images/cocina.jpg" 
                        width="250" 
                        height="358"/>
                    </a>
                </td>
                <td align=center>
                    <img src="images/habitacion.jpeg" 
                        width="250" 
                        height="358"/></td>
            </tr>
            <tr>
                <td align=center>
                    <img src="images/salon.jpg" 
                        width="250" 
                        height="358"/></td>
                <td align=center>
                    <img src="images/jardin.jpg" 
                        width="250" 
                        height="358"/></td>
            </tr>
  </body>
</html>
