<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tienda</title>
        <meta name="description" content="Tienda">
        <link rel="stylesheet" href="style.css" type="text/css" media ="screen,projection">
        <link rel="stylesheet" href="smartphones.css" type="text/css" media ="only screen and (max-device-width:480px)">
         <link rel='icon' href='favicon.ico' type='image/x-icon' />
    </head>
    
    <body>
        <div>
        <center>En esta sección podrá comprar todo lo necesario para su casa domótica.</center>
        </div>
        <br>
      
<script type="text/javascript">
var suma = 0; var sumaKit = 0; var sumaExtra = 0; var sumaJardin = 0;
              var nKit = 0; var nExtra = 0; var nJardin = 0;
function kitChange(selectobj){
 nKit = (selectobj.selectedIndex);
 sumaKit = nKit*180;
 document.getElementById("sumaKit").innerHTML = sumaKit;
 suma = sumaKit + sumaExtra + sumaJardin;
 document.getElementById("suma").innerHTML = suma;
}
function extraChange(selectobj){
 nExtra = (selectobj.selectedIndex);
 sumaExtra = nExtra*30;
 document.getElementById("sumaExtra").innerHTML = sumaExtra;
 suma = sumaKit + sumaExtra + sumaJardin;
 document.getElementById("suma").innerHTML = suma;
}
function jardinChange(selectobj){
 nJardin = (selectobj.selectedIndex);
 sumaJardin = nJardin*50;
 document.getElementById("sumaJardin").innerHTML = sumaJardin;
 suma = sumaKit + sumaExtra + sumaJardin;
 document.getElementById("suma").innerHTML = suma;
}
</script>

        <center>
        <form name="pedidoForm" id="form" method="post">
        <table class="tablaCompra">
        <tr>
            <td align=center width="180px"><u>Producto</u></td>
            <td align=center width="100px"><u>P.V.P</u></td>
            <td align=center width="100px"><u>Cantidad</u></td>
            <td align=center width="100px"><u>Precio</u></td>
        </tr>
        <tr>
            <td align=center>Kit básico</td>
            <td align=center> 180 € </td>
            <td align=center>
                <select id="kit" onChange="kitChange(this)">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                </select> 
            <td align=center><a id="sumaKit"> </a> €</td>
        </tr>
        <tr>
            <td align=center>Habitación Extra</td>
            <td align=center> 30 € </td>
            <td align=center>  
                <select id="extra" onChange="extraChange(this)">
                       <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                </select> 
            <td align=center><a id="sumaExtra"> </a> €</td>
        </tr>
        <tr>
            <td align=center>Kit Jardín</td>
            <td align=center> 50 € </td>
            <td align=center>
                <select id="jardin" onChange="jardinChange(this)">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                </select> 
            <td align=center><a id="sumaJardin"> </a> €</td>
        </tr>
        <tr>
            <td align=center></td>
            <td align=center></td>
            <td align=center>Total</td>
            <td align=center><a id="suma"></a> €</td>
        </tr>

        </table>
        </center>
        <br>
        <button type="submit" value="Pagar"><a href="/pagar">Pagar</a></button>

    </form>


    </body>
     

    </html>